*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html, body {
    /*background: linear-gradient(to top right, #fd6b03, #2e2e2e) fixed;*/
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: black;

}

.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1976d2;
}
