.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.createButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
