.navbar{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.main__links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main__item{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: bolder;
}


.main__item:active {
    transition: 0.1s;
    color: deepskyblue;
}

.search__icon{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    color: #c6c6c6;
    position: relative;
    cursor: pointer;
    height: 36px;
}

.main__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: deepskyblue;
    transition: width 0.3s ease;
    z-index: 1;
}


.main__item:hover::after {
    width: 100%;
}

.icon {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    box-shadow: 4px 8px 16px #8a8a8a;
    list-style-type: none;
    width: 150px;
    border-radius: 8px;
    padding: 5px;
    z-index: 1;
    color: black;
}

.dropdown.visible {
    display: flex;
    flex-direction: column;
}

.dropdown__item {
    padding: 6px 8px;
    cursor: pointer;
    text-align: left;
}

.dropdown__item:hover {
    color: #13769e;
}
.dropdown__item:focus {
    color: #91b6ed;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .main__links {
        justify-content: flex-start;
    }

    .navbar__links {
        justify-content: flex-end;
        align-items: center;
    }

    .input {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .main__links {
        width: 100%;
        justify-content: flex-start;
    }

    .navbar__links {
        width: 100%;
        justify-content: flex-end;
    }

    .input {
        width: 100%;
        margin: 10px 0;
    }

}
